/* Common styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Form styles */
form {
  width: 80%;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.form-control {
  width: 100%;
  margin: 10px 0;
}

label {
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
}

button[type='submit'] {
  width: 100%;
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Weather info styles */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  border: 1px solid #87CEEB;
  margin: 20px;
  padding: 10px;
  justify-content: center;
  width: 80%;
  max-width: 400px;
  text-align: center;
}
/* Light theme background */
:root {
  --light-theme-bg: linear-gradient(to bottom, #fceabb 0%, #fccd4d 100%);
  --dark-theme-bg: linear-gradient(to bottom, #01162E 0%, #01426D 100%);
}

body {
  background: var(--light-theme-bg);
}

/* Dark theme background */
.dark-theme {
  background: var(--dark-theme-bg);
  color: white;
}


.ThemeButton {
  border-radius: 5px;
  padding: 10px;
  border: 0.2px solid black;
  background: linear-gradient(to bottom, #87CEEB 0%, #87CEFA 100%);
}